envs/  # VSCode directory where it auto finds virtualenvs 
/volumes  # We don't want to checkin our DB volume
/src./projectRoot/media  # We don't want to checkin our Django media files
/src/projectRoot/static  # We don't want to checkin our Django static files
.vscode/  # The VSCode config directory
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
*.pyo